<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>SmallMarket</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/chat.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
  <link href="/static/styles/styles.css" rel="stylesheet">
  <link href="/static/styles/chat.css" rel="stylesheet">

</head>

<body>
    <form method="GET" action="/" id="searchform">
        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
          <a class="navbar-brand" href="#"><div class="row pl-3"><img src="/static/img/logo.jpg" height ="35"><h4 class="pl-3">Small Market</h4></div></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="form-inline">
              <input class="form-control mr-2 ml-md-5" type="text" placeholder="..." name="search" id="search" value="<%=locals.search%>">
              <button class="btn btn-outline-primary" type="submit" id="searchsubmit">Suchen</button> 
            </div>
            
      
            <!-- Nav Item - Personal -->
            <div class="nav-item dropdown ml-auto mt-2 mt-md-0">
              <a class="btn btn-link" type="button" id="userDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-inline text-secondary font-weight-bold small">
                    Persönlich
                    <a class="btn btn-secondary btn-circle" data-toggle="dropdown">
                      <i class="fas fa-user text-white"></i>
                    </a>
                  </span>
                </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <% if (user && user.name) { %>
                    <a class="dropdown-item" href="/profile/<%=user.name%>">
                  <% } else { %>
                    <a class="dropdown-item" href="/login">
                  <% } %>
                      <i class="fas fa-user fa-sm fa-fw mr-2"></i>
                      Profil
                  </a>
                  <a class="dropdown-item" href="/chat">
                    <i class="fas fa-envelope fa-sm fa-fw mr-2"></i>
                      Nachrichten
                  </a>
      
                  <div class="dropdown-divider"></div>
                  <% if (user && user.id) { %>
                    <a class="dropdown-item" href="/logout">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
                      Logout
                    </a>
                  <% } else { %>
                    <a class="dropdown-item" href="/login">
                      <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2"></i>
                      Login
                    </a>
                  <% } %>
              </div>
            </div>
          </div>
        </nav>
    </form>
    
    <div style="display: block; margin: 0 5vw; max-height: 600px;">
        <div class="row rounded bg-secondary text-white m-3 p-3">
            <div class="col-lg-4 rounded bg-dark">
                <div class="d-flex flex-column overflow-auto" style="max-height: 500px;" id="selector-body">
                    <% for (x = 0; x< openchats.length; x++) { %>
                        <div class="chat-selector" id="u<%=openchats[x]['user']%>a<%=openchats[x]['article']%>" onclick="select_chat(this)">
                            <p class="m-0"><a class="text-white" href="/profile/<%=openchats[x]['name']%>"><%=openchats[x]['name']%></a></p>
                            <small><a class="text-white" href="/article/<%=openchats[x]['article']%>/<%=openchats[x]['title']%>"><%=openchats[x]['title']%></a></small>
                        </div>
                        <input type="radio" name="selector-radio" value="u<%=openchats[x]['user']%>a<%=openchats[x]['article']%>" hidden>
                    <% } %>
                    <% if (openchats.length == 0) { %>
                        <div class="m-3">
                            Keine offenen Chats
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-lg-7 rounded bg-dark p-0 ml-lg-3 ml-0 mt-3 mt-lg-0">
                <div class="d-flex flex-column overflow-auto pt-2" style="max-height: 500px;" id="chat-body">
                    <div class="d-flex justify-content-center">
                        Bitte wählen Sie einen Chat links!
                    </div>
                </div>
                <div class="col-12 mt-2 mb-2">
                    <hr style="border-color: grey">
                    <div class="input-group">
                        <input type="text" class="form-control" id="message-input" name="message" placeholder="Nachricht ...">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" onclick="send_msg()"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>